<template lang="pug">
section.container.animate_intro
  p Pagina com informações sobre o projeto
</template>

<script>
export default {
  name: 'hello',
  data () {
    return {
      msg: 'About pages'
    }
  }
}
</script>
