<template lang="pug">
div
  section.container.animate_intro
    h2
      | Crie seu novo curriculo rápido, fácil e grátis!
      br
      | Aproveite para compartilha em suas redes sociais...

    h3 Diversos formatos de curriculos para sua escolha!

    h2 Preencha o formulário ou faça login... {{ msg }}

  main.app.animate_app_intro
    section.section
      form-curriculo

  layouts
</template>

<script>
export default {
  name: 'hello',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="stylus" scoped>
.hello
  color red
</style>
