<template lang="pug">
section.container.animate_intro
  | {{ msg }}
</template>

<script>
export default {
  name: 'hello',
  data () {
    return {
      msg: 'Version 2 pages'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="stylus" scoped>
.about
  color yellow
</style>
