<template lang="pug">
footer.footer.animate_intro
  a(href="http://www.twitter.com/lucaslimay")
    | Created with <i>&#9775;</i> the force
    br
    | Author:
    small  @lucaslimay
</template>

<script>
export default {
  name: 'footer-page',
  data () {
    return {
      msg: 'header'
    }
  }
}
</script>
