<template lang="pug">
section.layouts
  h1 Escolha o layout
  .center
    article#theme_lucaslimax.layout
      h2 Nome do layout
      picture
        img(src="/")
      h3 Author: Lucas s

    article#theme_lucaslimay.layout
      h2 Nome do layout
      picture
        img(src="/")
      h3 Author: Lucas s

    article#theme_lucaslimay.layout
      h2 Nome do layout
      picture
        img(src="/")
      h3 Author: Lucas s

    article#theme_lucaslimay.layout
      h2 Nome do layout
      picture
        img(src="/")
      h3 Author: Lucas s
</template>

<script>
export default {
  name: 'layouts',
  data () {
    return {
      msg: 'Nav'
    }
  }
}
</script>
