<template lang="pug">
nav.menu-list.animate_intro
  ul
    li
      router-link.menu-item(to="/") Home
    li
      router-link.menu-item(to="/about") Informações
    li
      router-link.menu-item(to="/v2") Versão 2
    li
      router-link.menu-item(to="/donate") Doações
</template>

<script>
export default {
  name: 'nav-menu',
  data () {
    return {
      msg: 'Nav'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="stylus" scoped>
.menu-list
  text-align center
  display block
  clear both
  position relative
  width 100%
  margin 0 auto
  ul
    display inline-block
    text-align center
    &:after
      content ''
      display table
      clear both
  li
    display inline-block
    padding 0 10px
    box-sizing border-box
  .menu-item
    border-radius 6px
    padding 10px
    background rgba(#fff,.2)
    box-sizing border-box

</style>
