@media (min-width: 800px)
  .logo
    transform scale(1.3)
  .app
    max-width 70%
    #curriculo
      legend
        padding 10px
    .btn-plus, .btn-less
      float left
      margin 0
      top -4px
    .btn-plus
      margin 0 10px
  .actions
    max-width 33%
  .login
    margin 0 auto 60px
  .login_btn
    margin-bottom 26px
    margin-left 26px

  .layouts .center
    width 770px

  .layout
    width 25% !important
    box-sizing border-box
    max-width 160px !important
    float left
    margin 0 !important
    margin-bottom 30px !important
    margin-right 4% !important

@media (min-width: 700px) and (max-width: 800px)
  .app label
    &[for|="GET-dateofbirth"],
    &[for|="GET-nationality"]
      width 25% !important

@media (min-width: 1010px) and (max-width: 1140px)
  .app label
    &[for|="GET-dateofbirth"],
    &[for|="GET-nationality"]
      width 25% !important
