@media (min-width: 1140px)
  transform scale(1.6)
  .app
    //background red
    //padding 13px
    label
      border-right 1px solid #eee !important
      box-sizing border-box
      float left
      width 33.3% !important
      &[for|="GET-courseabout"],
        clear both
        float none
        width 100% !important
      &[for|="GET-maritalstatus"]
        width 25% !important
        &:hover
          border 0 !important
      &[for|="GET-travel-yes"],
      &[for|="GET-travel-no"]
        text-align center
        width 50% !important
        & input
          display inline-block !important
          float none !important
          position relative
          top -5px
      &:hover
        border 0 !important
      &[for|="GET-cep"],
      &[for|="GET-address-number"],
      &[for|="GET-coursedate-1"],
      &[for|="GET-coursedate-2"],
      &[for|="GET-coursedate-3"],
      &[for|="GET-coursedate-4"]
        width 16.7% !important
        &:hover
          border 0 !important
  .login_table
    display inline
    margin-left 3%
    transition .3s all
    &:first-of-type
      margin-left 0
  .login_btn
    margin-left 3%
    transition .3s all
    width 166px
    &:first-of-type
      margin-left 0
