@media (min-width: 600px)
  .app
    //background red
    //padding 13px
    label
      width 50% !important
      box-sizing border-box
      float left
      &[for|="GET-courseabout"]
        width 100% !important
        clear both
        float none

  .layouts .center
    width 570px
    padding-left 4%

  .layout
    width 47% !important
    box-sizing border-box
    float left
    margin 0 !important
    margin-bottom 30px !important
    margin-right 4% !important
    &:nth-of-type(2n)
      margin-right 0


@media (max-width: 420px)
  .logo
    transform scale(1)
