.app
  center()
  background rgba(#eee,.9)
  box-sizing border-box
  border-radius 10px 0 10px 10px
  box-shadow 0 0 0 1px #fff, 0 0 30px rgba(#000,.1)
  padding 10px 0
  margin 0 auto
  //max-width 924px
  width 100%
  font-family 'Abel', sans-serif
  font-size 16px
  letter-spacing .8px
  -webkit-user-select none  /* Chrome 49+ */
  -moz-user-select none    /* Firefox 43+ */
  -ms-user-select none     /* No support yet */
  user-select none
  -webkit-tap-highlight-color rgba(255, 255, 255, 0) !important
  -webkit-focus-ring-color rgba(255, 255, 255, 0) !important
  outline none !important
  will-change opacity, translate, scale
  transition .4s background
  z-index 9
  position relative
  &:hover
    background #eee
    z-index 666
  &:before
    content ""
    display block
    width 100%
    height 100%
    background #fff
  &>hr:last-of-type
    border-color  #ccc
  .text
    margin 0 !important
    padding 0 !important
    font-size 16px
    line-height 16px
  .btn-plus
    margin-right 16px

  .btn-plus, .btn-less
    width 30px
    height 30px
    border 2px solid #999
    background rgba(#fff,0)
    border-radius 100%
    color #666
    outline none
    line-height 0
    font-size 20px
    font-weight 100
    float right
    transition .2s all
    cursor pointer
    position relative
    &:hover
      color #fff
      background #666
      transform scale(1.3)
      transition .2s all
    &:active
      transform scale(1)
      transition .2s all
    & i
      position relative
      font-style normal
    &.btn-less i
      top -2px

  .section
    clear both

    p
      font-weight 600
      padding 20px 10px 10px 10px
      clear both
  #curriculo
    fieldset
      padding 20px 0 10px
      z-index 1
      &:first-of-type legend
        text-align center
    legend
      width 100%
      font-size 22px
      padding 0 10px
      box-sizing border-box

    label
      box-sizing border-box
      width 100%
      display block
      line-height 30px
      padding 10px
      cursor pointer
      background linear-gradient(rgba(#fff,0),rgba(#fff,1))
      font-size 14px
      font-weight 100
      transform scale(1)
      transition .2s all
      text-shadow 0 2px 2px rgba(#000,.2)
      position relative
      z-index 1
      &[for|="GET-travel"],
      &[for|="GET-maritalstatus"],
      &[for|="GET-address-number"],
      &[for|="GET-cep"]
      &[for|="GET-coursedate"]
        width 50%
        float left
        will-change opacity, translate, scale
      &[for|="GET-travel"]:hover,
      &[for|="GET-maritalstatus"]:hover,
      &[for|="GET-address-number"]:hover,
      &[for|="GET-cep"]:hover
      &[for|="GET-coursedate"]:hover
        z-index 999
        transition .2s all
      &[for|="GET-travel"]:nth-of-type(odd),
      &[for|="GET-maritalstatus"]:nth-of-type(odd),
      &[for|="GET-address-number"],
      &[for|="GET-coursedate"]:nth-of-type(odd)
        border-right 1px solid #eee
        transition .2s all
      &[for|="GET-travel"]:nth-of-type(odd):hover,
      &[for|="GET-maritalstatus"]:nth-of-type(odd):hover,
      &[for|="GET-address-number"]:hover,
      &[for|="GET-coursedate"]:nth-of-type(odd):hover
        border-right 1px solid rgba(#eee,0)
        transition .2s all
        z-index 999
      &[for|="GET-state"],
      &[for|="GET-courseabout"],
      &[for|="GET-coursenow"]
        clear both
      &[for|="GET-coursenow"]
        text-align center
        width 100% !important
        input
          display inline-block
          float none
          margin 0 10px

      &:hover, &:focus
        background #666
        border-radius 6px
        color #fff
        transform scale(1.03)
        transition .2s all
        text-shadow 0 2px 6px rgba(#000,.5)
        box-shadow 0 0 10px #666
        z-index 999
      &:active
        transform scale(1.006)
        transition .2s all
      &:after
        content ''
        display table
        clear both

    input, textarea
      background #fff
      border 1px solid #ccc
      border-radius 3px
      box-sizing border-box
      padding 10px
      margin 10px auto 0 auto
      width 100%
      max-width 100%
      clear both
      transition .2s all
      &:focus
        background #666
        color #fff
        transition .2s all
      &:hover
        background #fff
        color #666
        transition .2s all

    input[type="radio"]
      width auto
      float left
      margin 8px 10px 0 0
    input[type="date"]
      padding 7.5px
      // padding 8.3px
      // clear both

    input:focus,
    textarea:focus
      box-shadow 0 0 0px 4px rgba(#000,.1)
    input[type="radio"]:focus
      box-shadow 0 0 0px 4px rgba(#000,0)

@import '_actions'

@import '_header'
@import '_container'
@import '_footer'
