.footer
  text-align center
  padding 0 0 30px
  small, i
    font-style normal
    color #fff
    text-shadow 0 2px 2px rgba(#000,.6)
  a:hover
    letter-spacing 2px
    color #fff
    transition .5s all
    text-shadow 0 2px 2px rgba(#000,.6)
    small, i
      color #fff
