.login
  margin 10px auto 60px
  text-align center
  -webkit-user-select none  /* Chrome 49+ */
  -moz-user-select none    /* Firefox 43+ */
  -ms-user-select none     /* No support yet */
  user-select none

.login_btn
  text-shadow 0 2px 16px #fff, 0 2px 36px #fff, 0 1px 50px #000
  width 143px
  height 60px
  font-size 16px
  background linear-gradient(rgba(#fff,.85),rgba(#fff,.55))
  border 0
  border-radius 5px
  color #000
  padding 10px
  margin-bottom 12px
  margin-left 6px
  transition .5s all
  will-change opacity, translate, scale
  cursor pointer
  font-weight bold
  line-height 40px
  box-sizing border-box
  display inline-block
  -webkit-user-select none  /* Chrome 49+ */
  -moz-user-select none    /* Firefox 43+ */
  -ms-user-select none     /* No support yet */
  user-select none
  outline none
  &:hover
    transform scale(1.1)
    transition .3s all
    background rgba(#fff,1)
  &:active
    transform scale(.9)
    transition .3s all
  &:last-of-type
    margin-right 0
  svg
    width 40px
    float left
  &.facebook
    color #475993
  &.google
    color #F34A38
  &.linkedin
    color #0077B7
  &.twitter
    color #76A9EA
